main {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}


.container_cover {
    width: 100%;
    max-width: 928px;
    max-height: 523px;
    aspect-ratio: 16 / 9;
    background-image: url('../img/Cover_le_reveil_de_la_raison.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    border: 3px solid #0D0D0D;
    filter: drop-shadow(5px 5px 0px #0D0D0D);
    transition: 0.3s ease-in-out;
}

.all_column{
    display: flex;
    justify-content: space-between
}
.container_cover>iframe{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .container_cover {
        border-radius: 16px;
        border: 6px solid #0D0D0D;
        filter: drop-shadow(8px 8px 0px #0D0D0D);
    }
    .custom_hr {
        display: none;
    }
}

.custom_hr {
    border-top: 3px solid #0D0D0D;
    width: 100%;
}
.custom_hr2 {
    border-top: 3px solid #0D0D0D;
    width: 100%;
}

.content_about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container_images>iframe {
    width: 88vw;
    height: 60vh;
    margin-left: 1vw;
}

@media screen and (min-width: 768px) {
    .content_about {
        width: 60%;
        padding: 1rem 0rem;
        /* padding: 1rem 20%; */
    }
}

@media screen and (max-width: 768px) {
    .all_column{
        flex-direction: column;
        justify-content: none;
    }
}
    